@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Auhthor:</strong>   <a href="mailto:antonprudkoglyad@gmail.com">antonprudkoglyad@gmail.com</a>
</address>