@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">This is travel agency project for EPAM .NET 2015 External training.</p>
    <p><a href="@Url.Action("Index", "Tour")" class="btn btn-primary btn-lg">View tours &raquo;</a></p>
</div>