@{
    ViewBag.Title = "Control panel";
}
<div class="jumbotron">
    <h2>Control panel</h2>
    <h3>Welcome to the management panel!</h3>
    <a href="@Url.Action("Index", "Tour")" class="btn btn-primary btn-lg">
        Tours
    </a>
    <a href="@Url.Action("Index", "BusinessValues")" class="btn btn-primary btn-lg">
        Business values
    </a>
</div>

