@{
    ViewBag.Title = "Control panel";
}
<div class="jumbotron">
    <h2>Control panel</h2>
    <h3>Welcome to the management panel!</h3>
    <a href="@Url.Action("Index", "Tour")" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plane"></span>
        Tours
    </a>
    <a href="@Url.Action("Index", "Order")" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-list"></span>
        Orders
    </a>
    <a href="@Url.Action("Index", "BusinessValues")" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-usd"></span>
        Business values
    </a>
    <a href="@Url.Action("Index", "User")" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-user"></span>
        Users
    </a>
</div>

